* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* ensures padding doesn't overflow */
  }

body {
  background-color: #111;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1596px;
  margin-right: auto;
  margin-left: auto;
}

.input{
  font-family: 'Roboto mono';
  display: flex;
  background-color: rgba(26, 26, 26, 1);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  padding: 18px 20px;
  width: 100%;
}

/* .shop-button{
  display: flex;
  align-items: flex-end;
  gap: 5px;
  padding: 18px 20px;
  background-color: #1a1a1a;
  color: white;
  border-radius: 12px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
} */

.shop-button{
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 5px;
  padding: min(1em, 4vw) min(1.2em, 6vw);
  background-color: #1a1a1a;
  color: white;
  border-radius: 12px;
  font-size: clamp(0.9rem, 2vw, 1.125rem);
  border: none; 
}


.shop-button-dashed{
  display: flex;
  align-items: flex-end;
  gap: 5px;
  padding: 18px 20px;
  background-color: #404040;
  color: #FFFFFF;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  border: 2px dashed #1F1F1F;
}

.arrow-icon {
  width: 23px;
  height: 23px;
  stroke: #ffffff;
  stroke-width: 1.2;
}

.title{
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 400;
  color: white;
}
.card-title{
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

.subtext{
  font-size: 1.125rem;
  font-weight: 400;
  color: rgba(103, 102, 101, 1);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* ================================= */
/* Navbar */
/* ================================= */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 2px dashed #333333;
  margin-bottom: 50px;
}

.nav-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  flex-basis: 30%;
}

.nav-left a{
  text-decoration: none;
}

.nav-home{
  color: white;
  font-size: 1rem;
  background-color: #1A1A1A;
  padding: 15px 25px;
  border-radius: 12px;
}

/* .nav-products, .a-button{
  display: inline-flex;
  color: #B3B3B2;
  font-size: 1.125rem;
  padding: min(1em, 8%) min(1.2em, 8%);
  border-radius: 12px;
  border: 2px dashed #333333;
} */

.nav-products, .a-button {
  color: #B3B3B2;
  display: inline-flex;
  flex-wrap: wrap; 
  max-width: 100%; 
  padding: min(1em, 4vw) min(1.2em, 6vw); /* smaller fallback for mobile */
  font-size: clamp(0.9rem, 2vw, 1.125rem); /* auto-scaling text */
  border-radius: 12px;
  border: 2px dashed #333333;
}


.nav-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
}

.nav-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  flex-basis: 30%;
}

.nav-right a{
  text-decoration: none;
}

.nav-contact{
  color: #0F0F0F;
  font-size: 17px;
  background-color: #AE9B84;
  font-weight: 500;
  padding: 15px 28px;
  border-radius: 12px;
}

/* ================================= */
/* Hero Section */
/* ================================= */

.hero {
  position: relative;
  margin-bottom: 50px;
}

.hero-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
}
.button-shopnow {
  z-index: 1;
  border: none;
  background: none;
  position: absolute;
  bottom: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(31, 31, 31, 1);
}

.button-shopnow:hover{
  cursor: pointer;
}

.shop-now-img img {
  width: 100%;
}

.filter-icons{
  display: flex;
  gap: 8px;
  width: 100%;
}

.filter-icons a{
  text-decoration: none;
}

.filters-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-left: 2px dashed #333333;
  border-right: 2px dashed #333333;
  border-bottom: 2px dashed #333333;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
}

.filter-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 50px;
  height: 100%;
  width: 100%;
  text-align: start;
}


.filter-grid1 {
  display: flex;
  grid-row: span 2;
  grid-column: span 2;
  justify-content: center;
  flex-direction: column;
}

.filter-grid2 {
  grid-row: span 1;
  grid-column: span 1;
  border-left: 2px dashed #333333;
  border-right: 2px dashed #333333;
  border-bottom: 2px dashed #333333;
}

.filter-grid3 {
  grid-row: span 1;
  grid-column: span 1;
  border-bottom: 2px dashed #333333;
}

.filter-grid4 {
  grid-row: span 1;
  grid-column: span 1;
  border-left: 2px dashed #333333;
  border-right: 2px dashed #333333;
}

.filter-grid5 {
  grid-row: span 1;
  grid-column: span 1;
}



/* ===================================== */
/* CATEGORIES */
/* ===================================== */

.categories{
  border-style: dashed;
  border-radius: 20px;
  border-width: 2px;
  border-color: #333333;
  margin-bottom: 50px;
}

.category__header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}


.category-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
}

.category-card{
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 50px;
  height: 100%;
}

.cat__card-images{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cat__card-icon{
  height: 75px;
}

.cat__card-icon2{
  height: 150px;
}

.cat-grid1{
  border-right: 2px dashed #333333;
  border-top: 2px dashed #333333;
  border-bottom: 2px dashed #333333;
}

.cat-grid2{
  border-right: 2px dashed #333333;
  border-top: 2px dashed #333333;
  border-bottom: 2px dashed #333333;
}

.cat-grid3{
  border-top: 2px dashed #333333;
  border-bottom: 2px dashed #333333;
}

.cat-grid4{
  border-right: 2px dashed #333333;
}
.cat-grid5{
  border-right: 2px dashed #333333;
}

.cat__card-texts{
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  padding-bottom: 50px;
  gap: 25px;
}
.cat__card-title{
  font-size: 1.5rem;
}

.cat__card-subtext{
  color: #81807e;
}


/* ======================================= */
/* GUIDELINES */
/* ======================================= */

  .guidelines-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-radius: 25px;
    border-width: 2px;
    border-color: #333333;
    margin-bottom: 50px;
  }

  .guideline-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 25px;
    height: 100%;
    padding-left: 50px;
  }

  /* .guideline-header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  } */

  .guideline-img{
    height:100%;
    border-top-right-radius: 25px;
  }

  .guidelines-grid1{
    grid-column: span 3;
    grid-row: span 1;
    border-bottom: 2px dashed #333333;
  }

  .guidelines-grid2{
    grid-column: span 1;
    grid-row: span 1;
    border-bottom: 2px dashed #333333;
  }
  .guidelines-grid3{
    grid-column: span 1;
    grid-row: span 1;
    border-right: 2px dashed #333333;
  }
  .guidelines-grid4{
    grid-column: span 1;
    grid-row: span 1;
    border-right: 2px dashed #333333;
  }
  .guidelines-grid5{
    grid-column: span 1;
    grid-row: span 1;
    border-right: 2px dashed #333333;
  }

  .guidelines-grid6{
    grid-column: span 1;
    grid-row: span 1;
  }

  .guideline-steps{
    font-size: 1rem;
    color: #81807e;
  }

  .guideline__card-subtext{
    font-size: 16px;
    font-weight: 400;
    color: rgba(103, 102, 101, 1);
  }

  .guideline-card .guideline__card-subtext{
    padding-bottom: 50px;
  }

  .guideline-card .guideline-steps{
    padding-top: 50px;
  }


  /* .guideline-card h1, p{
    padding-right: 35px;
  } */

  .guideline__card-title{
    font-size: 24px;
    font-weight: 400;
  }


  /* ================================================ */
  /* PRODUCT */
  /* ================================================ */

  .products{
    border: 2px dashed #333333;
    margin-bottom: 50px;
    border-radius: 25px;
  }

  .product__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .product__category{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }

  .product__left{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 50px;
  }

  /* .product__left h1 {
    font-size: 2.5rem;
    font-weight: 400;
  } */
  
  .product__right-img{
    height: 270px;
  }

  
  .product__button{
    font-family: 'Roboto mono';
    display: inline-flex;
    flex-wrap: wrap;
    border: 1.6px dashed #333333;
    padding: min(1em, 4vw) min(1.2em, 6vw);
    background: none;
    max-width: 100%;
    border-radius: 12px;
    font-size: clamp(0.9rem, 2vw, 1.125rem);
    cursor: pointer;
    color: #B3B3B2;
  }


  .product__button-bold{
    font-family: 'Roboto mono';
    display: inline-flex;
    border: none;
    padding: min(1em, 4vw) min(1.2em, 6vw);
    background-color: #C2B4A3;
    border-radius: 12px;
    font-size: clamp(0.9rem, 2vw, 1.125rem);
    cursor: pointer;
    color: #0F0F0F;
    max-width: 100%;
  }


  .product__container-img{
    height: 386px;
    width: 472px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .product__container-img img{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .product-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 25px;
  }

  .product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 15px;
    padding: 25px;
    height: 100%;
    width: 100%;
  }


  .product_label-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .product-label{
    font-size: 12px;
    color: rgba(179, 179, 178, 1);
    border-radius: 25px;
    background-color: rgba(26, 26, 26, 1);
    padding: 0.6rem 1rem;
    border: 1px dashed #333333;
    max-width: 110px;
  }

  .product_label-container img{
    width: 120px;
    cursor: pointer;
  }

  .product_details-container{
    font-family: 'Roboto mono', monospace;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .product_details-container h1{
    font-size: 20px;
    font-style: medium;
    font-weight: 500;
  }

  .product_details-container p{
    color: rgba(129, 128, 126, 1);
    font-size: 15px;
  }

   .product_details-container p span{
    color: rgba(204, 204, 204, 1);
  }

  .product-grid1{
    border-right: 2px dashed #333333;
    border-top: 2px dashed #333333;
    border-bottom: 2px dashed #333333;
  }
    .product-grid2{
    border-top: 2px dashed #333333;
    border-right: 2px dashed #333333;
    border-bottom: 2px dashed #333333;
  }
    .product-grid3{
    border-top: 2px dashed #333333;
    border-bottom: 2px dashed #333333;
  }

    .product-grid4{
    border-right: 2px dashed #333333;
  }

     .product-grid5{
    border-right: 2px dashed #333333;
  }


  /* ===================================== */
  /* COLLECTION */
  /* ===================================== */

  .collection__right-img{
    height: 200px;
  }

  .collection{
    border: 2px dashed #333333;
    margin-bottom: 50px;
    border-radius: 25px;
  }

  .collection-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .collection-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 50px;
    height: 100%;
  }

  .collection-img{
    height: 80px;
  }

  .stars{
    height: 16px;
  }

  .collection-grid1{
    position: relative;
    border-top: 2px dashed #333333;
    border-right: 2px dashed #333333;
  }
   .collection-grid2{
    border-top: 2px dashed #333333;
    border-right: 2px dashed #333333;
  }
   .collection-grid3{
    position: relative;
    border-top: 2px dashed #333333;
  }

   .collection-grid4{
    position: relative;
    border-top: 2px dashed #333333;
    border-right: 2px dashed #333333;
  }

  .collection-grid5{
    border-top: 2px dashed #333333;
    border-right: 2px dashed #333333;
  }

  .collection-grid6{
    position: relative;
    border-top: 2px dashed #333333;
  }

  .collection-img-style{
    height: 40px;
  }

  .leftside-img-style1{
    position: absolute;
    left: 0;
    bottom: 0;
  }

   .leftside-img-style2{
    position: absolute;
    left: 0;
    top: 0;
  }

  .rightside-img-style1{
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .rightside-img-style2{
    position: absolute;
    right: 0;
    top: 0;
  }




/* ====================================== */
/* ABOUT */
/* ====================================== */

.about{
  border: 2px dashed #333333;
  border-radius: 25px;
  margin-bottom: 50px;
}

.about-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.about-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding: 50px;
  height: 100%;
}

.about-grid1{
  border-top: 2px dashed #333333;
  border-right: 2px dashed #333333;
}

.about-grid2{
  border-top: 2px dashed #333333;
}

.about-grid3{
  border-top: 2px dashed #333333;
  border-right: 2px dashed #333333;
}

.about-grid4{
  border-top: 2px dashed #333333;
}

.about-grid5{
  border-top: 2px dashed #333333;
  border-right: 2px dashed #333333;
}

.about-grid6{
  border-top: 2px dashed #333333;
}

/* ====================================== */
/* BANNER */
/* ====================================== */

.banner{
  position: relative;
  background: rgba(194, 180, 163, 1);
  border-radius: 25px;
  margin-bottom: 50px;
}

.banner-container{
  position: relative;
  z-index: 2;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text{
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-basis: 80%;
}

.banner__button-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  flex-basis: 20%;
  max-width: 100%;
  width: 100%;
}


.banner-title{
  font-size: 45px;
  font-weight: 600;
  color: #0F0F0F;
}
.banner-subtext{
  font-size: 14px;
  font-weight: 400;
  color: #1F1F1F;
  line-height: 1.5;
}

.banner-style{
  position: absolute;
  height: 100%; 
  top: 0;
  right: 0;
  z-index: 0;
}

.banner-style img{
  height: 100%;
}

/* ================================== */
/* FOOTER  */
/* =================================== */


.footer-top{
  border-top: 2px dashed #333333;
  height: 100px;
}

.footer-top img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer__logo-container{
  display: flex;
  justify-content: space-around;
  padding: 80px;
  align-items: center;
  width: 100%;
  border-top: 2px dashed #333333;
  border-bottom: 2px dashed #333333;
}

.footer-logo{
  height: 120px;
}

.social-icons{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  height: 50px;
}

.footer-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  padding: 0 250px;
  border-bottom: 2px dashed #333333;
  gap: 20px;
}

.footer-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 30px;
  padding: 50px 0; 
}

.footer-card p{
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: 'Roboto mono';
  color: rgba(103, 102, 101, 1);
  font-size: 18px;
}

.footer-card span{
  color: rgba(38, 38, 38, 1);
  font-size: 24px;
  font-weight: 800;
}

.footer-input-container{
  position: relative;
  width: 100%;
}

.arrow-right{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.footer-container4{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 250px;
}

.footer-subtext{
  font-family: 'Roboto mono';
  padding: 35px 0;
  color: rgba(129, 128, 126, 1);
}


@media (max-width: 768px) {

  .container{
    max-width: 358px;
  }

  .subtext{
    font-size: 14px;
  }

  .title{
    font-size: 28px;
  }

  /* elevate your style  */

  .filters-grid {
    grid-template-columns: auto;
    }

  .filter-card{
    padding: 20px;
  }

  .filter-grid2 {
    border-top: 2px dashed #333333;
    border-left: none;
  }

  .filter-grid3 {
    border-top: 2px dashed #333333;
  }

  .filter-grid4{
  border-left: none;
  }

  /* crafting trends  */
  .category-grid{
    position: relative;
    grid-template-columns: auto;
  }

  .category-card{
    padding: 20px;
  }

  .cat-grid1{
    border-right: none;
    border-bottom: none;
  }

  .cat-grid2{
    border-right: none;
    border-bottom: none;
  }

  .cat-grid3{
    border-right: none;
    border-bottom: none;
  }

  .cat-grid4, .cat-grid5, .cat-grid6{
    display: none;
  }

  .cat__card-images{
    align-items: center;
    margin-right: -15px;
    margin-top: -15px;
  }
  
  .cat__card-texts{
    padding: 0px;
  }


  /* navigating the styleloom  */
  .guidelines-grid{
    grid-template-columns: auto;
  }

  .guideline-card{
    padding: 20px;
  }

  .guidelines-grid1{
    grid-column: auto;
    border-bottom: none;
  }
  .guidelines-grid2{
    display: none;
  }
  .guidelines-grid3, .guidelines-grid4, .guidelines-grid5{
    border-top: 2px dashed #333333;
    border-right: none;
  }
  
  .guidelines-grid6{
    border-top: 2px dashed #333333;
  }

  .guideline-card .guideline-steps{
    padding-top: 20px;
  }

  .guideline-card .guideline__card-subtext {
    padding-bottom: 20px;
  }
  
  /* elevate your style  */

  .product__header{
    padding: 20px;
  }
  .product__left{
    padding-left: 0px;
  }
  .product__right{
    display: none;
  }

  .product-grid{
    grid-template-columns: auto;
  }

  .product-grid1, .product-grid2{
    border-right: none;
    border-bottom: none;
  }

  .product-grid3{
    border-bottom: none;
    border-right: none;
  }
  .product-grid4, .product-grid5, .product-grid6{
    display: none;
  }
}
